#* xml

<xml>
<ToUserName><![CDATA[<%= toUser %>]]></ToUserName>
<FromUserName><![CDATA[<%= fromUser %>]]></FromUserName>
<CreateTime><%= timestamp %></CreateTime>
<MsgType><![CDATA[music]]></MsgType>
<Music>
<Title><![CDATA[<%= title %>]]></Title>
<Description><![CDATA[<%= description %>]]></Description>
<MusicUrl><![CDATA[<%= url %>]]></MusicUrl>
<HQMusicUrl><![CDATA[<%= hqUrl %>]]></HQMusicUrl>
<ThumbMediaId><![CDATA[<%= thumbMediaId %>]]></ThumbMediaId>
</Music>
</xml>
